.header {
    display: grid;
    position: absolute;
    color: white;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    background-color: #111215;
    z-index: 11;
    height: 50px;
}
.user {
    grid-area: 1 / 3 / 2 / 4;
    gap: 1rem;
    margin: auto 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0 0 15px;
}
