.gamescreen {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px red;
}
.game {
  height: 100%;
  background: rgba(0, 0, 0, 0.8) url("http://localhost:3000/assets/background.webp") no-repeat
    center center fixed;
}
