.enter {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
}

.enterActive {
    opacity: 1;
    transition: all 200ms ease-in-out;
    transform: translate(-50%, -50%);
}

.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0;
    transition: all 200ms;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6969;
    background-color: hsla(210, 3%, 34%, 0.576);
    backdrop-filter: blur(20px);
}
