*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}
body,
html,
#root {
    height: 100%;
}
#root {
    padding: 2rem;
}
body {
    background: repeating-linear-gradient(
        45deg,
        rgb(33, 33, 33) 7px,
        #272727 0,
        #212121 15px
    );
}
.App {
    height: 100%;
    border-radius: 2rem;
    border: dashed #c0c0c0;
}
