*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body,
html,
#root,
.App {
  height: 100%;
  overflow-x: hidden;
  font-weight: bold;
}
body {
  background: repeating-linear-gradient(45deg, #111215 7px, #14151a 0, #111215 300px);
  background-attachment: fixed;
}
